@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Raleway:wght@100;200;400;500;600&family=Roboto:wght@100;300;500;700&display=swap');

$robotics-white: #FCFCFC;
$robotics-white-hover: #F0F0F0;
$robotics-dark: #3F3F3F;
$robotics-accent: #2177A8;

$lead-margin: 21px;
$box-shadow-lead: 9px 7px 11px -8px rgba(0,0,0,0.47);

$bootstrap-sm-breakpoint: 567px;
$bootstrap-md-breakpoint: 768px;
$bootstrap-lg-breakpoint: 992px;
$bootstrap-lx-breakpoint: 1200px;
$bootstrap-xxl-breakpoint: 1400px;


style{
    display: none;
}



body{
    width: 100%;
    background-color: $robotics-white;
    .wrapper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;    
    max-width: 2000px;    
    }
    .card{
        overflow: hidden;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: $lead-margin;
        margin-bottom: $lead-margin;
        width: calc(90% - 56px);
        background-image: url(../../img/card/IMG_3936.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px 28px 40px 28px;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        box-shadow: $box-shadow-lead;
        @media (min-width: $bootstrap-sm-breakpoint){
            width: calc(90% - (28px + 15%));
            padding: 50px 15% 40px 28px;
            &__button{
             &:hover{
                 background-color: $robotics-white-hover;
             }   
            }
        }
        @media (min-width: $bootstrap-md-breakpoint){
            width: calc(90% - (28px + 20%));
            padding: 50px 20% 40px 28px;
        }
        @media (min-width: $bootstrap-lg-breakpoint){
            width: calc(90% - (28px + 30%));
            padding: 50px 30% 40px 28px;
        
        }
        @media (min-width: $bootstrap-lx-breakpoint){
            width: calc(90% - (40px + 40%));
            padding: 110px 40% 80px 40px;
            &__title{
                font-size: 35px !important;
            }
            &__subtitle{
                font-size: 21px !important;
            }
            &__button{
                font-size: 21px !important;
                width: 210px !important;
            }
            &__smedia{
                margin-top: 35px !important;
            }
        }
        *{
            z-index: 2;
        }
        &__wrapper{
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.54;
            top: 0px;
            left: 0px;
            background-color: #192F59;
        }
        &__title{
            font-family: "Cabin", sans-serif;
            font-size: 28px;
            color: $robotics-white;
            font-weight: 600;
            margin-bottom: 36px;
        }
        &__subtitle{
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: $robotics-white;
            font-weight: 300;
            margin-bottom: 36px;
        }
        &__button{
            transition: 0.3s all ease;
            text-align: center;
            width: 150px;
            color: $robotics-dark;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            background-color: $robotics-white;
            border-radius: 10px;
            padding: 14px 21px 14px 21px;
            user-select: none;
            white-space: nowrap;
            cursor: pointer;
            @media (min-width: $bootstrap-sm-breakpoint){
                :hover{
                    background-color: $robotics-white-hover;
                }
            }
        }
        &__smedia{
            margin-top: 21px;
            display: flex;
            i{
                color: $robotics-white;
                font-size: 21px;
                margin-right: 14px;
            }
            i:last-child{
                margin-right: 0px;
            }
        }
        &__history-link{
            text-decoration: none;
            font-family: "Raleway", sans-serif;
            color: $robotics-white;
            font-size: 14px;
            font-weight: 400;
            margin-top: $lead-margin;
            i{
                font-size: 10px;
                padding-bottom: 2px;
            }
        }
        }
}

.header{
    width: calc(100% - 32px);
    padding: 14px 16px 14px 16px;
    background-color: $robotics-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        width: 65px;
        height: 35px;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        cursor: pointer;
    }
    i{
        color: $robotics-dark;
        font-size: 24px;
    }
}

// @media (min-width: 576px){
//     body{
//         .card{
           
//         }
//     }
    
// }